.container{
    margin-bottom: 100px;
}
.carousel-bg{
    border-radius: 10px;
    background-color: #feeae9;
}
.carousel-item{
    padding: 20px 50px;
}

.price{
    color: #E9226E;
}

.buy-btn{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}